<include file="public/head" />
<include file="public/menu" />
<div class="main-content">
    <div class="page-content">
        <div class="row">
            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->
                <div >
                    <h4>已开设课程</h4>
                    <div class="col-xs-12">
                        <div class="table-responsive">
                            <table id="sample-table-1" class="table table-striped table-bordered table-hover table-condensed">
                                <thead>
                                <tr>
                                    <th>课程编号</th>
                                    <th>课程</th>
                                    <th>任课老师</th>
                                    <th class="col-xs-4">开课班级</th>
                                    <th>上课时间</th>
                                    <th>课程人数</th>
                                    <th>已选人数</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <volist name="data" id="qwe">
                                    <form action="__URL__/delCourse" method="post">
                                        <tr>
                                            <td><input name="courseId" value="{$qwe[courseid]}" readonly="true" type="hidden"/>{$qwe[courseid]}</td>
                                            <td>{$qwe[coursename]}</td>
                                            <td>{$qwe[adminid]}</td>
                                            <td>{$qwe[cla]}</td>
                                            <td>{$qwe[time]}</td>
                                            <td>{$qwe[peoplenumber]}</td>
                                            <td>{$qwe[choicenumber]}</td>
                                            <td width="20%">
                                                <input name="swtich" type="submit" class="btn btn-danger" value="取消课程"/>
                                                <input name="swtich" type="submit" class="btn btn-success" value="选课学生"/>
                                                <input name="swtich" type="submit" class="btn btn-warning" value="录入成绩"/>
                                                <!--<button class="btn btn-success"><a href="__URL__/course_stu_list">选课学生</a></button>-->
                                                <!--<a href="__URL__/course_stu_list"><i class="btn btn-success">选课学生</i></a>-->
                                            </td>
                                        </tr>
                                    </form>
                                </volist>
                                </tbody>
                            </table>

                        </div>
                        <!-- /.table-responsive --></div>
                    <!-- /span --></div>
                <hr />
                <div class="container">
                    <h4>添加课程</h4>
                    <div align="left">
                        <form method="post" action="__URL__/testInsertCourse">
                            <table class="table table-striped table-bordered table-hover table-condensed">
                                <tr>
                                    <td>课程名称</td>
                                    <td><input type="text" name="course"/></td>
                                </tr>
                                <tr>
                                    <td>开课班级</td>
                                    <td>
                                        <table class="table table-striped table-bordered table-hover table-condensed">
                                            <tr>
                                                <td><label><input type="checkbox" name="classes[]" value="31"/> 高三(1)班</label></td>
                                                <td><label><input type="checkbox" name="classes[]" value="21"/> 高二(1)班</label></td>
                                                <td><label><input type="checkbox" name="classes[]" value="11"/> 高一(1)班</label></td>
                                            </tr>
                                            <tr>
                                                <td><label><input type="checkbox" name="classes[]" value="32"/> 高三(2)班</label></td>
                                                <td><label><input type="checkbox" name="classes[]" value="22"/> 高二(2)班</label></td>
                                                <td><label><input type="checkbox" name="classes[]" value="12"/> 高一(2)班</label></td>
                                            </tr>
                                            <tr>
                                                <td><label><input type="checkbox" name="classes[]" value="33"/> 高三(3)班</label></td>
                                                <td><label><input type="checkbox" name="classes[]" value="23"/> 高二(3)班</label></td>
                                                <td><label><input type="checkbox" name="classes[]" value="13"/> 高一(3)班</label></td>
                                            </tr>
                                            <tr>
                                                <td><label><input type="checkbox" name="classes[]" value="34"/> 高三(4)班</label></td>
                                                <td><label><input type="checkbox" name="classes[]" value="24"/> 高二(4)班</label></td>
                                                <td><label><input type="checkbox" name="classes[]" value="14"/> 高一(4)班</label></td>
                                            </tr>
                                            <tr>
                                                <td><label><input type="checkbox" name="classes[]" value="35"/> 高三(5)班</label></td>
                                                <td><label><input type="checkbox" name="classes[]" value="25"/> 高二(5)班</label></td>
                                                <td><label><input type="checkbox" name="classes[]" value="15"/> 高一(5)班</label></td>
                                            </tr>
                                            <tr>
                                                <td><label><input type="checkbox" name="classes[]" value="36"/> 高三(6)班</label></td>
                                                <td><label><input type="checkbox" name="classes[]" value="26"/> 高二(6)班</label></td>
                                                <td><label><input type="checkbox" name="classes[]" value="16"/> 高一(6)班</label></td>
                                            </tr>
                                            <tr>
                                                <td><label><input type="checkbox" name="classes[]" value="37"/> 高三(7)班</label></td>
                                                <td><label><input type="checkbox" name="classes[]" value="27"/> 高二(7)班</label></td>
                                                <td><label><input type="checkbox" name="classes[]" value="17"/> 高一(7)班</label></td>
                                            </tr>
                                            <tr>
                                                <td><label><input type="checkbox" name="classes[]" value="38"/> 高三(8)班</label></td>
                                                <td><label><input type="checkbox" name="classes[]" value="28"/> 高二(8)班</label></td>
                                                <td><label><input type="checkbox" name="classes[]" value="18"/> 高一(8)班</label></td>
                                            </tr>
                                            <tr>
                                                <td><label><input type="checkbox" name="classes[]" value="39"/> 高三(9)班</label></td>
                                                <td><label><input type="checkbox" name="classes[]" value="29"/> 高二(9)班</label></td>
                                                <td><label><input type="checkbox" name="classes[]" value="19"/> 高一(9)班</label></td>
                                            </tr>
                                            <tr>
                                                <td><label><input type="checkbox" name="classes[]" value="310"/> 高三(10)班</label></td>
                                                <td><label><input type="checkbox" name="classes[]" value="210"/> 高二(10)班</label></td>
                                                <td><label><input type="checkbox" name="classes[]" value="110"/> 高一(10)班</label></td>
                                            </tr>
                                            <tr>
                                                <td><label><input type="checkbox" name="classes[]" value="311"/> 高三(11)班</label></td>
                                                <td><label><input type="checkbox" name="classes[]" value="211"/> 高二(11)班</label></td>
                                                <td><label><input type="checkbox" name="classes[]" value="111"/> 高一(11)班</label></td>
                                            </tr>
                                            <tr>
                                                <td><label><input type="checkbox" name="classes[]" value="312"/> 高三(12)班</label></td>
                                                <td><label><input type="checkbox" name="classes[]" value="212"/> 高二(12)班</label></td>
                                                <td><label><input type="checkbox" name="classes[]" value="112"/> 高一(12)班</label></td>
                                            </tr>
                                            <tr>
                                                <td><label><input type="checkbox" name="classes[]" value="313"/> 高三(13)班</label></td>
                                                <td><label><input type="checkbox" name="classes[]" value="213"/> 高二(13)班</label></td>
                                                <td><label><input type="checkbox" name="classes[]" value="113"/> 高一(13)班</label></td>
                                            </tr>
                                            <tr>
                                                <td><label><input type="checkbox" name="classes[]" value="314"/> 高三(14)班</label></td>
                                                <td><label><input type="checkbox" name="classes[]" value="214"/> 高二(14)班</label></td>
                                                <td><label><input type="checkbox" name="classes[]" value="114"/> 高一(14)班</label></td>
                                            </tr>
                                            <tr>
                                                <td><label><input type="checkbox" name="classes[]" value="315"/> 高三(15)班</label></td>
                                                <td><label><input type="checkbox" name="classes[]" value="215"/> 高二(15)班</label></td>
                                                <td><label><input type="checkbox" name="classes[]" value="115"/> 高一(15)班</label></td>
                                            </tr>
                                            <tr>
                                                <td><label><input type="checkbox" name="classes[]" value="316"/> 高三(16)班</label></td>
                                                <td><label><input type="checkbox" name="classes[]" value="216"/> 高二(16)班</label></td>
                                                <td><label><input type="checkbox" name="classes[]" value="116"/> 高一(16)班</label></td>
                                            </tr>
                                            <tr>
                                                <td><label><input type="checkbox" name="classes[]" value="317"/> 高三(17)班</label></td>
                                                <td><label><input type="checkbox" name="classes[]" value="217"/> 高二(17)班</label></td>
                                                <td><label><input type="checkbox" name="classes[]" value="117"/> 高一(17)班</label></td>
                                            </tr>
                                            <tr>
                                                <td><label><input type="checkbox" name="classes[]" value="318"/> 高三(18)班</label></td>
                                                <td><label><input type="checkbox" name="classes[]" value="218"/> 高二(18)班</label></td>
                                                <td><label><input type="checkbox" name="classes[]" value="118"/> 高一(18)班</label></td>
                                            </tr>
                                            <tr>
                                                <td><label><input type="checkbox" name="classes[]" value="319"/> 高三(19)班</label></td>
                                                <td><label><input type="checkbox" name="classes[]" value="219"/> 高二(19)班</label></td>
                                                <td><label><input type="checkbox" name="classes[]" value="119"/> 高一(19)班</label></td>
                                            </tr>
                                            <tr>
                                                <td><label><input type="checkbox" name="classes[]" value="320"/> 高三(20)班</label></td>
                                                <td><label><input type="checkbox" name="classes[]" value="220"/> 高二(20)班</label></td>
                                                <td><label><input type="checkbox" name="classes[]" value="120"/> 高一(20)班</label></td>
                                            </tr>
                                            <tr>
                                                <td><label><input type="checkbox" name="classes[]" value="321"/> 高三(21)班</label></td>
                                                <td><label><input type="checkbox" name="classes[]" value="221"/> 高二(21)班</label></td>
                                                <td><label><input type="checkbox" name="classes[]" value="121"/> 高一(21)班</label></td>
                                            </tr>
                                            <tr>
                                                <td><label><input type="checkbox" name="classes[]" value="322"/> 高三(22)班</label></td>
                                                <td><label><input type="checkbox" name="classes[]" value="222"/> 高二(22)班</label></td>
                                                <td><label><input type="checkbox" name="classes[]" value="122"/> 高一(22)班</label></td>
                                            </tr>
                                            <tr>
                                                <td><label><input type="checkbox" name="classes[]" value="323"/> 高三(23)班</label></td>
                                                <td><label><input type="checkbox" name="classes[]" value="223"/> 高二(23)班</label></td>
                                                <td><label><input type="checkbox" name="classes[]" value="123"/> 高一(23)班</label></td>
                                            </tr>
                                            <tr>
                                                <td><label><input type="checkbox" name="classes[]" value="324"/> 高三(24)班</label></td>
                                                <td><label><input type="checkbox" name="classes[]" value="224"/> 高二(24)班</label></td>
                                                <td><label><input type="checkbox" name="classes[]" value="124"/> 高一(24)班</label></td>
                                            </tr>

                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>任课老师名</td>
                                    <td><volist name="data" id="qwe"><input type="text" name="teacher" value="{$qwe[name]}" readonly="true"/></volist></td>
                                    <!--<td><input type="text" name="teacher"></td>-->

                                </tr>
                                <tr>
                                    <td>上课时间</td>
                                    <td><input type="text" name="time"/></td>
                                </tr>
                                <tr>
                                    <td>课程人数</td>
                                    <td><input type="text" name="people"/></td>
                                </tr>
                                <tr>
                                    <td>操作</td>
                                    <td>
                                        <button class="btn btn-warning" type="submit">添加</button>
                                        <input class="btn btn-success" type="reset"/>
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </div>
                </div>
                <!-- PAGE CONTENT ENDS --></div>
            <!-- /.col --></div>
        <!-- /.row --></div>
    <!-- /.page-content --></div>
<!-- /.main-content --></div>
<!-- /.main-container-inner -->
<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
    <i class="icon-double-angle-up icon-only bigger-110"></i>
</a>
</div>
<!-- /.main-container -->
<!-- basic scripts -->
<!--[if !IE]> -->
<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>-->
<!-- <![endif]-->
<!--[if IE]>
<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>-->
<![endif]-->
<!--[if !IE]> -->
<script type="text/javascript">window.jQuery || document.write("<script src='__PUBLIC__/assets/js/jquery-2.0.3.min.js'>" + "<" + "/script>");</script>
<!-- <![endif]-->
<!--[if IE]>
<script type="text/javascript">window.jQuery || document.write("<script src='assets/js/jquery-1.10.2.min.js'>" + "<" + "/script>");</script>
<![endif]-->
<script type="text/javascript">if ("ontouchend" in document) document.write("<script src='__PUBLIC__/assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");</script>
<script src="__PUBLIC__/assets/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/assets/js/typeahead-bs2.min.js"></script>
<!-- page specific plugin scripts -->
<!-- ace scripts -->
<script src="__PUBLIC__/assets/js/ace-elements.min.js"></script>
<script src="__PUBLIC__/assets/js/ace.min.js"></script>
<!-- inline scripts related to this page --></body>

</html>