<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.3.2.min.js"></script>
    <script type="text/javascript">
        function GetXmlHttpObject()//是解决为不同浏览器创建不同 XMLHTTP 对象的问题
        {
            var xmlHttp=null;
            try {
                xmlHttp=new XMLHttpRequest();
            }
            catch (e) {
                try {
                    xmlHttp=new ActiveXObject("Msxml2.XMLHTTP");
                }
                catch (e) {
                    xmlHttp=new ActiveXObject("Microsoft.XMLHTTP");
                }
            }
            return xmlHttp;
        }
        var size=0;//记录查询出来的行数
        var num=101;//统计有多少个新添加进去的列,便于遍历删除
        function ajax_del(obj)//分为删除前端显示,和删除后台数据两个部分
        {
            var obj_p=obj.parentNode;//终于找到td
            var index=document.getElementById(String(obj_p.getAttribute("id"))).cellIndex;//算出这个单元格在这一行上的位置
            var str = table233.rows[0].cells[index].innerHTML;//获得表头
            index=index+1;
            str = str + "";
            $("#table233 thead tr th::nth-child("+index+")").remove();//删除表头
            $("#table233 tbody tr td::nth-child("+index+")").remove();//删除表格数据
            num--;
//发过去就可以了,暂时不需要返回什么信息,但是保留函数,便于以后扩展
            var url="__URL__/test_table_ajax_del";//定义要发送到服务器的 URL（文件名）String(document.getElementById("col_name").value)
            url=url+"?scorename="+str;//把带有输入域内容的参数 (q) 添加到这个 URL
//            url=url+"&sid="+Math.random();//添加一个随机数，以防服务器使用缓存文件
//            alert(url);
            xmlHttp=GetXmlHttpObject();//调用 GetXmlHttpObject 函数来创建 XMLHTTP 对象
            xmlHttp.open("GET",url,true);//用给定的 URL 来打开打开这个 XMLHTTP 对象
            xmlHttp.send(null);//向服务器发送 HTTP 请求
            xmlHttp.onreadystatechange=ajax_del_stateChanged;//在事件被触发时告知该对象执行名为 stateChanged 的函数
        }
        function ajax_del_stateChanged()//暂无用处
        {
            if (xmlHttp.readyState==4 || xmlHttp.readyState=="complete") {
                var response=xmlHttp.responseText;//用响应文本填充 txtHint 占位符 txtHint 的内容
//                alert(response);
            }
        }
        function ajax_add()//调用ajax取得数据库查询的行号
        {
            var str = document.getElementById("col_name").value;//获取当前要加入的列名称,然后跟已经存在的列比对,有相同则退出
//            alert(str);
            str = str + "";
            for(var i=0;i<table233.rows.item(0).cells.length;i++)
            {
                var col_name = document.getElementById("table233").rows[0].cells[i].innerHTML;
                if(str==col_name)
                {
                    alert("列名重复,请重新输入列名");
                    return ;
                }
            }

            var url="__URL__/test_table_ajax_add";//定义要发送到服务器的 URL（文件名）String(document.getElementById("col_name").value)
            url=url+"?q="+str;//把带有输入域内容的参数 (q) 添加到这个 URL
            url=url+"&sid="+Math.random();//添加一个随机数，以防服务器使用缓存文件
//            alert(url);
            xmlHttp=GetXmlHttpObject();//调用 GetXmlHttpObject 函数来创建 XMLHTTP 对象
            xmlHttp.open("GET",url,true);//用给定的 URL 来打开打开这个 XMLHTTP 对象
            xmlHttp.send(null);//向服务器发送 HTTP 请求
            xmlHttp.onreadystatechange=ajax_add_stateChanged;//在事件被触发时告知该对象执行名为 stateChanged 的函数
        }
        function ajax_add_stateChanged()//接收php处理后返回的数据
        {
            if (xmlHttp.readyState==4 || xmlHttp.readyState=="complete") {
                size=xmlHttp.responseText;//用响应文本填充 txtHint 占位符 txtHint 的内容
                var index=$("#col_name").val();//获得输入字段的值
                $th = $("<th>"+index+"</th>");//注意变量在html中的插入方式
                $("#table233 thead tr").append($th);//在thead中的所有tr中,在末尾添加一个th
                $col = $("<td><input type='text' maxlength='3'></td>");//td 填写成绩
                $("#table233 tbody tr:not(:gt("+size+"))").prev().append($col);//在tbody中的所有tr中,除了最后一个,都在末尾添加一个tr
                $del = $("<td id='"+num+"'><input type='button' value='删除列' onclick='ajax_del(this)'></td>");//删除按钮
                $("#table233 tbody tr:eq("+size+")").append($del);
                $proportion = $("<td><input type='text' maxlength='2'></td>");//成绩比例
                $("#table233 tbody tr:last").append($proportion);
                num++;
            }
        }
        function checkSumSubmit()//123
        {
            for(var k=1;k<table233.rows.length-2;k++)
            {
                var totalScore = 0;//传输总成绩到后台存储
                var totalProportion = 0;//用于验证比例总量是否为100
                for(var i=5,j=table233.rows.length-1;i<table233.rows.item(0).cells.length;i++)
                    //计算一个学生的总成绩,由同一行上的其他成绩按比例计算综合,i遍历每一列,j表示最后一行的行数,k遍历每一行
                {
                    var score = table233.rows[k].cells[i].getElementsByTagName("input")[0].value;//获取分数
                    if(score>100||score<0)
                    {
                        alert("分数超出范围");
                        return ;
                    }
                    var proportion = table233.rows[j].cells[i].getElementsByTagName("input")[0].value;//获取比例
                    totalProportion+=parseInt(proportion);
                    totalScore+= proportion*0.01*score;
                }
                if(totalProportion!=100)
                {
                    alert("成绩比例错误");
                    return ;
                }
                table233.rows[k].cells[4].innerHTML=totalScore;
            }
            //检查输入值是否正确,正确才能往下执行

        }

    </script>
</head>
<body>
<table id="table233" border="1">
    <thead>
    <tr>
        <th>课程</th>
        <th>学号</th>
        <th>姓名</th>
        <th>性别</th>
        <th>总成绩</th>
        <!--<volist name="score_name" id="qwe">//打印表头-->
            <!--<th> {$qwe}</th>-->
        <!--</volist>-->
        <volist name="scoreName" id="qwe">
            <th>{$key}</th>
        </volist>
    </tr>
    </thead>
    <tbody>
        <form>
            <volist name="data" id="qwe">
            <tr>
                <td>{$qwe[coursename]}</td>
                <td>{$qwe[no]}</td>
                <td>{$qwe[name]}</td>
                <td>{$qwe[sex]}</td>
                <td>{$qwe[score]}</td>
                    <!--这里要一个数组,一个变量-->
                <?php
                    for($i=0;$i<session('html1');$i++)
                    {
                        echo '<td>'.session('score_score')[session('php_html')].'</td>';
                        $j=session('php_html')+1;
                        session('php_html',$j);
                    }
                ?>
            </tr>
            </volist>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td id="0"><input id="col_name" type="text" placeholder="请输入列名" ><input type="button" value="添加列" onClick="ajax_add(this)"></td>
                    <?php
                    for($k=0;$k<session('html1');$k++)
                    {
                        $j=session('php_html2')+1;
                        session('php_html2',$j);
                        $i = session('php_html2');
                        echo '<td id="'.$i.'">';
                        echo '<input type='.button.' value='.删除列.' onclick= ajax_del(this)>';
                        echo '</td>';
                    }
                    ?>
                </volist>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td><input type="button" value="计算总成绩" onclick="checkSumSubmit()" ></td>
                <td>成绩比例:</td>
                <volist name="score_proportion" id="qwe">
                    <td> {$qwe}</td>
                </volist>
            </tr>

        </form>

    </tbody>
</table>
</body>
</html>