<!DOCTYPE html>
<html lang="ch">
	<head>
		<meta charset="utf-8" />
		<title>学生登录页面</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- basic styles -->

		<link href="__PUBLIC__/assets/css/bootstrap.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="__PUBLIC__/assets/css/font-awesome.min.css" />

		<!--[if IE 7]>
		  <link rel="stylesheet" href="__PUBLIC__/assets/css/font-awesome-ie7.min.css" />
		<![endif]-->

		<!-- page specific plugin styles -->

		<!-- fonts -->

		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" />

		<!-- ace styles -->

		<link rel="stylesheet" href="__PUBLIC__/assets/css/ace.min.css" />
		<link rel="stylesheet" href="__PUBLIC__/assets/css/ace-rtl.min.css" />

		<!--[if lte IE 8]>
		  <link rel="stylesheet" href="__PUBLIC__/assets/css/ace-ie.min.css" />
		<![endif]-->

		<!-- inline styles related to this page -->

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

		<!--[if lt IE 9]>
		<script src="__PUBLIC__/assets/js/html5shiv.js"></script>
		<script src="__PUBLIC__/assets/js/respond.min.js"></script>
		<![endif]-->
	</head>

	<body class="login-layout">
        <div class="main-container">
			<div class="main-content">
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1">
						<div class="login-container">
							<div class="center">
								<h1>
									<span class="black">体育课管理系统</span>
								</h1>
							</div>
							<div class="space-6"></div>
							<div class="position-relative">
								<div id="login-box" class="login-box visible widget-box no-border">
									<div class="widget-body">
										<div class="widget-main">
											<h4 class="header blue lighter bigger">
												<i class="icon-coffee green"></i>注册
											</h4>
											<div class="space-6"></div>
											<form method="POST" action="__URL__/register">
												<fieldset>
													<label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="text" class="form-control" placeholder="学号" name="no"/>
															<i class="icon-user"></i>
														</span>
													</label>
                                                    <label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="text" class="form-control" placeholder="姓名" name="name"/>
															<i class="icon-user"></i>
														</span>
													</label>
                                                    <label >性别
                                                        <span class="block input-icon input-icon-right">
															<select class="form-control" name="sex" >
																<option value="">&nbsp;</option>
																<option value="1">男</option>
																<option value="0">女</option>
															</select>
														</span>
													</label>
                                                    <label >年级
                                                        <span class="block input-icon input-icon-right">
															<select class="form-control" name="grade" >
																<option value="">&nbsp;</option>
																<option value="1">高一</option>
																<option value="2">高二</option>
                                                                <option value="3">高三</option>
															</select>
														</span>
													</label>
													<label >班级
                                                        <span class="block input-icon input-icon-right">
															<select class="form-control" name="classes">
																<option value="">&nbsp;</option>
																<option value="1">1班</option>
																<option value="2">2班</option>
                                                                <option value="3">3班</option>
                                                                <option value="4">4班</option>
																<option value="5">5班</option>
                                                                <option value="6">6班</option>
                                                                <option value="7">7班</option>
																<option value="8">8班</option>
                                                                <option value="9">9班</option>
                                                                <option value="10">10班</option>
																<option value="11">11班</option>
                                                                <option value="12">12班</option>
                                                                <option value="13">13班</option>
																<option value="14">14班</option>
                                                                <option value="15">15班</option>
                                                                <option value="16">16班</option>
																<option value="17">17班</option>
                                                                <option value="18">18班</option>
                                                                <option value="19">19班</option>
																<option value="20">20班</option>
                                                                <option value="21">21班</option>
                                                                <option value="22">22班</option>
																<option value="23">23班</option>
                                                                <option value="24">24班</option>
															</select>
														</span>
													</label>
													<label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="password" class="form-control" placeholder="密码" name="password"/>
															<i class="icon-lock"></i>
														</span>
													</label>
													<div class="space"></div>
													<div class="clearfix">
														<button type="SUBMIT" class="width-35 pull-right btn btn-sm btn-primary">
															<i class="icon-key"></i>注册
														</button>
													</div>
													<div class="space-4"></div>
												</fieldset>
											</form>
										</div><!-- /widget-main -->
										<div class="toolbar clearfix">
											<div>
												<a href="__URL__/login" class="user-signup-link">登录
													<i class="icon-arrow-right"></i>
												</a>
											</div>
										</div>
									</div><!-- /widget-body -->
								</div><!-- /login-box -->
							</div><!-- /position-relative -->
						</div>
					</div><!-- /.col -->
				</div><!-- /.row -->
			</div>
		</div>
		<!-- basic scripts -->
		<!--[if !IE]> -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
		<!-- <![endif]-->
		<!--[if IE]>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<![endif]-->
		<!--[if !IE]> -->
		<script type="text/javascript">
			window.jQuery || document.write("<script src='__PUBLIC__/assets/js/jquery-2.0.3.min.js'>"+"<"+"/script>");
		</script>

		<!-- <![endif]-->

		<!--[if IE]>
<script type="text/javascript">
 window.jQuery || document.write("<script src='__PUBLIC__/assets/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
</script>
<![endif]-->

		<script type="text/javascript">
			if("ontouchend" in document) document.write("<script src='__PUBLIC__/assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
		</script>

		<!-- inline scripts related to this page -->

		<script type="text/javascript">
			function show_box(id) {
			 jQuery('.widget-box.visible').removeClass('visible');
			 jQuery('#'+id).addClass('visible');
			}
		</script>
	</body>
</html>
